extends layouts/layout.jade

block content
  img(src='img/tangerineshea1a.jpg').modifiedImage.displayFullImage
  p This product is NOT available from Mixed Streets.
  p Mixed Streets have created a unique range of skin moisturisers, that maintain skin quality and texture.
  p Please visit the Mixed Streets site, to find out more about their products.
  p The products:
  ul  
    li  Have been made to the highest standards and have been approved by the British Pharmaceutical Board.
    li Are made with organic components
 
