/* media queries */
@media screen and (max-width: 320px){

   .nav, .navbar-wrapper, .navbar-fixed-top
  {
      font-size: 1em;
      margin-bottom: 5%;
  }

  #myCarousel
  {
    margin-top: 110%;  
  }

  #twitterIcon
  {
    float: right;
  } 
   
 .modifiedImage 
  { 
    margin-top: 200%; 
    max-width: 100%;
    max-height: 100%;
  }
  
  ul#moisturiserMenu
  {
    margin-left: -7%;
  }
  
  #aboutBackground,
  #contactInfo,
  #privacyInfo
  {
    margin-top: 100%;
  }
  #twitterIcon
  #twitterIcon
