extends ./layouts/layout.jade

block content
  br
  br
  br
  h2 How it all began ...
  p Mixed Streets is an online retailer of carefully sourced products for children from a mixed race heritage.

  p The company was formed after his wife (a white Briton) and himself(a black Briton) had their children and realised that there's al lack of children's products that they can relate to. They found it difficult to find toys, books, skin or hair products for children from mixed backgrounds living in the UK.

  p "It's about finding products that represent all children in today's ever changing society".

  p The products have been carefully sourced and tested. It is hoped that they have made the process easier for buying your little one's products that are specifically suited to them.
