extends ./layouts/layout.jade

block content
  br
  br
  br
  h1 Contact
  p Mixed Streets are committed to responding to your queries within 24 hours.Please feel free to contact them using the following channels.

  h2 Phone
  p 0781 377 4252

  h2 Email
  p enquiries@mixedstreets.com

  h2 By post
  p Mixed Streets Limited, 133 Holly Lane East, Banstead, Surrey, SM7 2BE.

  //- How to create the contact form.
