extends ./layouts/layout.jade

block content
  br
  br
  br
  h1 Privacy Policy
  p This is a test site, and as such no information is collected from you.
  p No products are sold directly from this site. This means there are no facilities to receive any payments.
  p No personal details are collected and as such no cookies are used.
  br
