doctype
html
  head
    meta(charset="utf-8")
    title Mixed Streets: Moisturisers 
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(type="text/css", rel="stylesheet", href="/bootstrap3_2_0/css/bootstrap.min.css")

    link(type="text/css", rel="stylesheet", href="/bootstrap3_2_0/css/bootstrap-theme.min.css")
    link(type="text/css", rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="stylesheets/custom.css")

  body
    //- Navigation bar section
    .topNavbar
      .nav.navbar-wrapper.navbar-fixed-top(role="navigation")
        .container
          .row
           p.text-center.warningNotice * This is a test site *
            .col-xs-4
              .navbar-header
                a.navbar-brand(href="/layout") Mixed Streets Cremes
            .col-xs-4
              ul.nav.navbar-nav
                li       
                  a(href="/moisturiser1")
                    span Moisturiser1
                li
                  a(href="/moisturiser2")
                    span Moisturiser2
                li
                  a(href="/moisturiser3")
                    span Moisturiser3
            .col-xs-4
              .nav.navbar-nav.navbar-right
                //-li      
                  //-a(href="#")
                  //-span.i.fa.fa-facebook-square.fa-2x
                li
                  a(href="http://twitter.com/MixedstreetsCom")
                    span.i.fa.fa-twitter-square.fa-2x
      
      p //- Content
    .container
      .row
        .col-xs-6.col-xs-offset-3
          block content
            #myCarousel.carousel.slide(data-interval="3000" data-ride="carousel")
              //- Carousel Indicators
              ol.carousel-indicators
                li(data-target="#myCarousel" data-slide-to="0").active
                li(data-target="#myCarousel" data-slide-to="1")
                li(data-target="#myCarousel" data-slide-to="2")
              //- Carousel Items
              br
              .carousel-inner
                .active.item
                  img(src="img/darphin_ideal.jpg" alt="darphin_ideal creme")
                  h2 Moisturiser1
                  .carousel-caption
                .item
                  img(src="img/cowshed1.jpeg" alt="cowshed creme picture")
                  h2 Moisturiser2
                  .carousel-caption
                .item
                  img(src="img/tangerineshea1.jpg" alt="tangarine shea creme picture")
                  h2 Moisturiser3
                  .carousel-caption
              //- Carousel navigation
              a(href="#myCarousel" data-slide="prev").carousel-control.left
                span.glyphicon.glyphicon-chevron-left
              a(href="#myCarousel" data-slide="next").carousel-control.right
                span.glyphicon.glyphicon-chevron-right
      p
      .container
        .container.col-xs-12.text-center
          a(href="http://www.mixedstreets.com")
            button.btn.btn-info Click here
      br
  .footer
    br
    .container
      .row
        .col-xs-12
          .leftFooter.pull-left
            ul.list-unstyled.footerLinks
              li
                a(href="/about") About us
              li
                a(href="/contact") Contact us
              li
                a(href="/privacy") Privacy Policy
        p.text-center &copy; by mixedstreets
        script(src="bootstrap3_2_0/jquery/jquery-1.11.1.min.js")
        script(src="bootstrap3_2_0/js/bootstrap.min.js")
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
